.cap {
	padding-right: 20px !important;
	padding-left: 20px !important;
	margin: 0 auto;
	@media screen and (min-width: $midwidth){
		padding-right: 4% !important;
		padding-left: 4% !important;
	}
}
.clear-bottom {
	&:after {
	  clear: both;
	  content: "";
	  display: block;
	}
  }
  .copy {
	font-size: 14px;
	color: $color__text-main;
	@media screen and (min-width: $tabwidth){
	  font-size: 16px;
	}
	> *:first-child {
	  margin-top: 0;
	  padding-top: 0;
	}
	> *:last-child {
	  margin-bottom: 0;
	  padding-bottom: 0;
	}
	p {
	  margin: 20px 0;
	}
	strong, b, em {
	  font-weight: 800;
	}
	a {
	  text-decoration: none;
	  color: $color__text-main;
	  position: relative;
	  &:hover {
		color: $color__text-main;
		text-decoration: underline;
	  }
	}
	h1, h2, h3 {
	  margin: 0 0 10px 0;
	  text-transform: uppercase;
	  color: $color__text-main;
	}
	h1 {
	  font-size: 30px;
	}
	h2 {
	  font-size: 25px;
	}
	h3 {
	  font-size: 20px;
	}
	ul, ol {
	  padding: 0;
	  margin: 0 0 20px 20px;
	  font-size: inherit;
	  li {
			margin: 0;
			font-size: inherit;
			padding: 0;
			list-style-type: disc;
			a {
				cursor: pointer;
				text-decoration: none;
				&:hover {
					color: $color__text-main;
				}
			}
	  }
	}
	ol {
		li {
			list-style-type: decimal;
		}
	}
}

#masthead {
	background-color: black;
	color: white;
	&.index {
		>.wrapper {
			padding-bottom: 0;
		}
	}
	>.wrapper {
			padding: 20px 0;
			@media screen and (min-width: $tinywidth){
				padding: 30px 0;
			}
		h1.logo {
			margin: 0 auto;
			width: 80%;
			@media screen and (min-width: $tinywidth){
				width: 20%;
				max-width: 150px;
				margin: 0;
			}
			a {
				display: block;
				img {
					display: block;
					width: 100%;
				}
			}
		}
	}
}

#colophon {
	background-color: black;
	color: white;
	position: relative;
	>img.blocks {
		width: 100%;
		position: absolute;
		bottom: 100%;
		left: 0;
		width: 100%;
		margin: 0 0 -12px 0;
	}
	>.wrapper {
		padding: 40px 0 20px 0;
		text-align: center;
		>.row-1 {
			a {
				display: inline-block;
				font-size: 35px;
				margin: 0 10px;
				text-decoration: none;
				color: white;
			}
		}
		>.row-2 {
			padding: 20px 0 0 0;
			@media screen and (min-width: $tinywidth){
				padding: 5% 0 0 0;
			}
			>.row-1 {
				font-size: 24px;
				font-weight: 700;
				line-height: 1.2;
			}
			>.row-2 {
				font-size: 18px;
				line-height: 1.2;
			}
		}
		>.row-3 {
			padding: 20px 0 0 0;
			@media screen and (min-width: $tinywidth){
				padding: 5% 0 0 0;
			}
			>div {
				ul {
					margin: 0;
					padding: 0;
					li {
						display: inline-block;
						list-style-type: none;
						margin: 0 3px;
						a {
							text-decoration: none;
							color: white;
							font-size: 12px;
						}
					}
				}
			}
		}
	}
}
