.template-index {
    text-align: center;
    >.row-1 {
        background-color: black;
        color: white;
        padding: 40px 0 0 0;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        @media screen and (min-width: $tabwidth){
            padding: 8% 0 0 0;
            font-size: 25px;
        }
    }
    >.row-2 {
        font-size: 25px;
        background-color: black;
        color: white;
        font-weight: 700;
        text-transform: uppercase;
        padding: 0 0 30px 0;
        @media screen and (min-width: $tabwidth){
            font-size: 40px;
            padding: 0 0 5% 0;
        }
    }
    >.row-3 {
        position: relative;
        padding: 1px 0 100% 0;
        @media screen and (min-width: $tabwidth){
            padding: 1px 0 40% 0;
        }
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: lightgrey; /* For browsers that do not support gradients */
            background: -webkit-linear-gradient(bottom, black , transparent ); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(bottom, black , transparent); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(bottom, black ,transparent); /* For Firefox 3.6 to 15 */
            background: linear-gradient(to bottom, black ,transparent); /* Standard syntax */
        }
        >img {
            z-index: -2;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: auto;
        }
        >.wrapper {
            >.box {
                vertical-align: top;
                margin: 20px 0 0 0;
                @media screen and (min-width: $tinywidth){
                    display: inline-block;
                    margin: 0 4% 8% 4%;
                    width: 1/2*82%;
                }
                @media screen and (min-width: $tabwidth){
                    display: inline-block;
                    margin: 0 1% 2% 1%;
                    width: 1/3*92%;
                }
                @media screen and (min-width: $deskwidth){
                    width: 1/5*88%;
                    margin: 0 1.5%;
                    float: left;
                }
                &:nth-child(even){
                    @media screen and (min-width: $tinywidth) and (max-width: $tabwidth - 1px){
                        margin-right: 0;
                    }
                }
                &:nth-child(odd){
                    @media screen and (min-width: $tinywidth) and (max-width: $tabwidth - 1px){
                        margin-left: 0;
                    }
                }
                &.first {
                    @media screen and (min-width: $deskwidth){
                        margin-left: 0;
                    }
                }
                &.last {
                    @media screen and (min-width: $deskwidth){
                        margin-right: 0;
                    }
                }
                
                a {
                    display: block;
                    color: inherit;
                    text-decoration: none;
                    img {
                        display: block;
                        width: 100%;
                    }
                    
                }
            }
        }
    }
}
.template-page, .template-sitemap, .error-404 {
    >.wrapper {
        padding: 20px 0 150px 0;
        @media screen and (min-width: $tabwidth){
            padding: 20px 0 20% 0;
        }
        >.wrapper {
            @media screen and (min-width: $tabwidth){
                width: 70%;
                margin: 0 auto;
            }
            >header {
                text-align: center;
                h1 {
                    margin: 0;
                    font-size: 25px;
                    @media screen and (min-width: $tabwidth){
                        font-size: 40px;
                    }
                }
            }
            .copy {
                margin: 20px 0 0 0;
            }
        }
    }
}